.dashboard {
    background: #181818;
    min-height: 100vh;
  
    padding: 32px 60px;
  }
  
  .video-grid {
    display: grid;
  
    grid-template-columns: repeat(4, 1fr);
  
    gap: 28px 20px;
  }
  
  .loading-container {
    min-height: 80vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    color: white;
  
    background: #181818;
  }
  
  @media screen and (max-width:1200px){
  
  .video-grid{
  
  grid-template-columns:repeat(3,1fr);
  
  }
  
  }
  
  @media screen and (max-width:900px){
  
  .video-grid{
  
  grid-template-columns:repeat(2,1fr);
  
  }
  
  .dashboard{
  
  padding:25px;
  
  }
  
  }
  
  @media screen and (max-width:600px){
  
  .video-grid{
  
  grid-template-columns:1fr;
  
  }
  
  }